:root {
    --corPrimaria: #3ACEE6;
    --corSecundaria: #3998E6;
    --CorTercearia: #39E689;
    --fundo: white;
}

body {
    background-color: var(--fundo);
    margin: 0; border: 0;
    height: 100vh; width: 100%;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-rows: 1fr 10fr 1fr;
    gap: 1rem;
}

header {
    grid-area: cabecalho;
    background-color: var(--corPrimaria);
}
footer {
    grid-area: rodape;
    background-color: var(--corPrimaria);
}

main {
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 3rem;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-container input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
}

.nav-manual {
    position: absolute;
    width: 100%;
    margin-top: 80%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 60vw);
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 70vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}


.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}
