.home-demo .item {
    background: #77b6e9;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

:root {
    --corPrimaria: #3ACEE6;
    --corSecundaria: #3998E6;
    --CorTercearia: #39E689;
    --fundo: white;
}
/*
body {
    background-color: var(--fundo);
    margin: 0; border: 0;
    height: 100vh; width: 100%;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-rows: 1fr 10fr 1fr;
    gap: 1rem;
}

header {
    grid-area: cabecalho;
    background-color: var(--corPrimaria);
}
footer {
    grid-area: rodape;
    background-color: var(--corPrimaria);
}

main {
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 3rem;
}
*/