/* Inicio Imagens */
.home-demo #item {
    background-image: url("imagens/imagem01.jpg");
    background-position: center;
    background-size: cover;
}

.home-demo #item2 {
    background-image: url("imagens/imagem2.jpg");
    background-position: center;
    background-size: cover;
}

.home-demo #item3 {
    background-image: url("imagens/imagem3.jpg");
    background-position: center;
    background-size: cover
;
}

.home-demo #item4 {
    background-image: url("imagens/imagem4.jpg");
    background-position: center;
    background-size: cover;
}

.home-demo #item5 {
    background-image: url("imagens/imagem5.jpg");
    background-position: center;
    background-size: cover;
}

.home-demo #item6 {
    background-image: url("imagens/imagem6.jpg");
    background-position: center;
    background-size: cover;
}
.home-demo #item7 {
    background-image: url("imagens/imagem7.jpg");
    background-position: center;
    background-size: cover;
}
.home-demo #item8 {
    background-image: url("imagens/imagem8.jpg");
    background-position: center;
    background-size: cover;
}
.home-demo #item9 {
    background-image: url("imagens/imagem9.jpg");
    background-position: center;
    background-size: cover;
}
.home-demo #item10 {
    background-image: url("imagens/imagem10.jpg");
    background-position: center;
    background-size: cover;
}
.home-demo #item11 {
    background-image: url("imagens/imagem11.jpg");
    background-position: center;
    background-size: cover;
}

/* Fim Imagens */

.home-demo .item {
    border-radius: 20px;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}


.maior-box {
    background: #77b6e9;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 26%; 
    height: 257px;
    align-items: center;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #b3ccec;
    color: hsla(0, 0%, 0%, 0.966);
    width: calc(100% - 100px);
}
.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #b3ccec;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 15px;
}

.img-previsao {
    width: 6rem;
}

.media-box {
    margin-top: 19px;
}
.cidade {
    color:#000000;
    font-size: 26px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
}
.menor-box {
    display: flex;
    align-items: center;
}

.texto-previsao {
    color: #000000;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #000000;
    margin-top: 20px;
}

/* Variaveis da Pagina */
:root {
    --corPrimaria: #85A3EF;
    --corSecundaria: #C2F3F0;
    --CorTercearia: #39E689;
    --fundo: FFFEFF;
}

/* Corpo da Pagina */
body {
    margin: 0;
    background-color: var(--fundo);
    min-height: 100vh;
}

/* Header */
header {
    grid-area: header;
    background-color: var(--corPrimaria);
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    align-items: center;
}
header:nth-child(1) {
    text-align: center;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: var(--corPrimaria);
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Main */
main {
    grid-area: main;
}


main div.principal {
    padding: 0 5rem;
}

main div.principal .media-box {
    background-color: var(--corSecundaria);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main div.principal .media-box .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
/*
body {
    background-color: var(--fundo);
    margin: 0; border: 0;
    height: 100vh; width: 100%;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-rows: 1fr 10fr 1fr;
    gap: 1rem;
}

header {
    grid-area: cabecalho;
    background-color: var(--corPrimaria);
}
footer {
    grid-area: rodape;
    background-color: var(--corPrimaria);
}

main {
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 3rem;
}
*/